#root {
  margin: 0 auto;
  padding: 2rem;
}

.add-task input {
  width: 50%;
}

.todo-table {
  width: 95%;
  margin: 0 auto;
  border-collapse: collapse;
}

.todo-table th,
.todo-table td {
  border: 1px solid black;
  padding: 12px;
  text-align: left;
}

.todo-table th {
  background-color: #494545;
  color: white;
}

.search {
  background-color: rgb(203, 209, 207);
  border: 1px solid black;
  display: flex;
  gap: 50px;
  padding: 10px;
  margin: 20px auto;
  width: 50%;
  align-items: center;
  justify-content: center;
}

#edit-task {
  background-color: #e7ebe0;
  width: 40%;
  padding: 20px;
  border: 1px solid black;
  margin: 30px auto;
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
}

#edit-task input {
  width: 90%;
}

.logout {
  position: absolute;
  top: 20px;
  right: 20px;
}
